<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>hello aj this is a html render page</h1>
    <head>keep moving!</head>
    <% // by default form will hit get method that's why we have to mention post in method section %>
    <form 
    action="/getformdata"
    method="post">
        <input 
        type="text"
        placeholder="enter username"
        name="username">

        <input 
        type="text"
        placeholder="enter email"
        name="email">

        <input 
        type="text"
        placeholder="enter password"
        name="password">
        <button>submit</button>
    </form>
    <script src="index.js"></script>
</body>
</html>